ADMIN_USERNAME=MikeAdmin
ADMIN_PASSWORD=@@G4bri312020@@
ADMIN_SESSION_SECRET=change-this-session-secret
CMS_ADMIN_TOKEN=super-secure-token
CONTACT_SMTP_HOST=smtp.server.com
CONTACT_SMTP_PORT=587
CONTACT_SMTP_USER=username
CONTACT_SMTP_PASS=password
CONTACT_FROM_EMAIL=noreply@geotapp.com
CONTACT_TO_EMAIL=info@geotapp.com
NEXT_PUBLIC_DJANGO_API_BASE_URL=https://api.geotapp.com/api
NEXT_PUBLIC_SITE_URL=https://www.geotapp.com
